

.container-about {
    width: 100%;
    max-width: 100vw;
    padding: 10rem 0.5rem 0.5rem 0.5rem;
    color: rgb(255, 255, 255);
      
}

.row-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;

    .col-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        padding: 0 1rem;

        .left-about {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            max-width: 100vw;

            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1.5rem;
                color: rgb(255, 255, 255);
               
            }
        }

    }

}